$body-color: #F9F9F9;
$main-color: #FFFFFF;
$input-border: #DDDDDD;
$input-placeholder: #B5B5B5;
$section-title: #30394A;
$item-text: #666666;
$item-badge-background: #E0E0E0;
$item-badge-text: #535353;
$side-menu-background: #273648;
$nav-item-text: #EDF4FC;
$nav-item-active-background: #4A90E2;
$select-option-text: #565656;
$profile-menu-border: #3D4A5A;